<style></style>
<app-header></app-header>
<div class="app-body d-flex flex-column">
  <div class="nav-bar row">
    <ul class="nav-area col-md-12 d-flex justify-content-center">
      <li><a href="#">الرئيسي</a></li>
      <li><a href="#">تعرف أكثر</a></li>
      <li><a href="#">خدمات</a></li>
      <li><a href="#">المراسلات</a></li>
    </ul>
  </div>
  <hr />
  <!-- <app-welcome></app-welcome> -->
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">
        © 2023 LendMeYourBook كل الحقوق محفوظة.
      </p>
    </div>
  </div>
</div>
