<style></style>
<app-header></app-header>
<div class="app-body d-flex flex-column">
  <div class="nav-bar row">
    <ul class="nav-area col-md-12 d-flex justify-content-center">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <hr />
  <!-- <app-welcome></app-welcome> -->
  <router-outlet></router-outlet>
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">
        © 2023 LendMeYourBook All rights reserved.
      </p>
    </div>
  </div>
</div>
