* {
    margin: 0;
    padding: 0;
  }
  .header {
    position:absolute;
    display: inline-block;
  }
  .app-body {
    background: url(../assets/images/books.jpg) no-repeat center center fixed;
    position: absolute;
    top: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 16px; 
  }
  .nav-area {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 16px;
  }
  .nav-area li {
    display: inline-block;
  }
  .nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin:16px;
    font-family: pappins;
    font-size: 16px;
  }
  .nav-area li a:hover {
    background-color: #fff;
    color: #333;border-radius: 20px;
  }
  .search-bar{
    height: auto;
  }
  .logo{
  }
  .logo img {
    padding-top: 8px;;
    position: relative;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .social-links{
    text-align: center;
   }
  i.fa-brands {
      padding: 8px;
      border-radius: 100px;
      border: 1px solid #333;
      font-size: 25px;
      margin-right: 6px;
      margin-left: 6px;
  }