<div class="welcome-text row d-flex flex-row">
  <div class="col-md-9">
    <h1>
      ،يقول لك المرشدون : اقرأ ما ينفعك <br />
      و لكني أقول : بل انتفع بما تقرأ - عباس محمود العقاد
    </h1>
  </div>
  <div class="col-md-3">
    <img src="assets/images/okad.jpg" />
  </div>
</div>
<hr style="height: 10px" />
<div class="footer-limiter row">
  <div class="user-transaction-type col-md-12">
    <div class="row">
      <div class="donor-user w-50 col-md-6">
        <div class="row">
          <div>
            <img src="assets/images/donor.jfif" />
          </div>
          <div>
            <h4><a href="#">Je m'identifie en tant que Donneur</a></h4>
          </div>
        </div>
      </div>
      <div class="borrower-user w-50 col-md-6">
        <div class="row d-flex flex-column">
          <div>
            <img src="assets/images/borrower.jfif" />
          </div>
          <div>
            <h4><a href="#">Je veux empreinter des livres</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-type col-md-12">Ayoubvv</div>
</div>
