<div class="donor">
  <form [formGroup]="donorFormGroup" (ngSubmit)="onSubmit()">
    <fieldset><legend>School information</legend></fieldset>
    <div formGroupName="school" name="school" class="school form-area">
      <div class="row">
        <label class="col-md-6"> State </label>
        <input
          type="text"
          formControlName="state"
          name="state"
          class="col-md-6"
        />
      </div>
      <div class="row">
        <label class="col-md-6"> City </label>
        <input
          formControlName="city"
          type="text"
          name="city"
          class="col-md-6"
        />
      </div>
      <div class="row">
        <label class="col-md-6"> School Name </label>
        <input
          formControlName="name"
          type="text"
          name="name"
          class="col-md-6"
        />
      </div>
    </div>
    <div *ngIf="books.length > 0">
      <div formGroupName="books" class="form-area">
        <div *ngFor="let book of books; let i = index">
          <div formGroupName="book_{{ i }}">
            <input
              type="text"
              formControlName="bookName"
              name="bookName"
              (keyup)="onKeyUp()"
            />

            <select
              formControlName="bookName"
              name="bookName"
              value="Select a category "
            >
              <option>Exercise Book</option>
              <option>Lecture Book</option>
              <option>Book</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <input type="button" value="add book" (click)="addBookToFormGroup()" />

    <div class="container">
      <h1>Get in touch!</h1>
      <ul>
        <li>
          <select>
            <option selected disabled>-- Please choose an option --</option>
            <option>Request Quote</option>
            <option>Send Resume</option>
            <option>Other</option>
          </select>
        </li>
        <li>
          <div class="grid grid-2">
            <input type="text" placeholder="Name" required />
            <input type="text" placeholder="Surname" required />
          </div>
        </li>
        <li>
          <div class="grid grid-2">
            <input type="email" placeholder="Email" required />
            <input type="tel" placeholder="Phone" />
          </div>
        </li>
        <li>
          <textarea placeholder="Message"></textarea>
        </li>
        <li>
          <input type="checkbox" id="terms" />
          <label for="terms"
            >I have read and agreed with
            <a href="">the terms and conditions.</a></label
          >
        </li>
        <li>
          <div class="grid grid-3">
            <div class="required-msg">REQUIRED FIELDS</div>
            <button class="btn-grid" type="submit" disabled>
              <span class="back">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/email-icon.svg"
                  alt=""
                />
              </span>
              <span class="front">SUBMIT</span>
            </button>
            <button class="btn-grid" type="reset" disabled>
              <span class="back">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/eraser-icon.svg"
                  alt=""
                />
              </span>
              <span class="front">RESET</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
