<div class="donor">
  <form [formGroup]="donorFormGroup" (ngSubmit)="onSubmit()">
    <legend>معلومات المدرسة</legend>
    <div formGroupName="school" name="school" class="school form-area">
      <div class="row">
        <label class="col-md-6"> ولاية </label>
        <select
          formControlName="state"
          name="state"
          class="col-md-6"
          (change)="updateCities()"
        >
          <option *ngFor="let state of states" [ngValue]="state">
            {{ state.name }}
          </option>
        </select>
      </div>
      <div class="row">
        <label class="col-md-6"> المدينة </label>
        <select
          formControlName="city"
          name="city"
          class="col-md-6"
          (change)="updateState()"
        >
          <option *ngFor="let city of cities" [ngValue]="city">
            {{ city.name }}
          </option>
        </select>
      </div>
      <div class="row">
        <label class="col-md-6"> اسم المدرسة</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          class="col-md-6"
        />
      </div>
    </div>

    <legend>معلومات المستخدم</legend>
    <div formGroupName="user" class="form-area">
      <div class="row">
        <label class="col-md-6"> الاسم </label>
        <input
          type="text"
          formControlName="firstName"
          name="firstName"
          class="col-md-6"
        />
      </div>
      <div class="row">
        <label class="col-md-6"> اسم العائلة </label>
        <input
          formControlName="lastName"
          type="text"
          name="lastName"
          class="col-md-6"
        />
      </div>
      <div class="row">
        <label class="col-md-6"> مستوى الدراسة </label>

        <select formControlName="level" name="level">
          <option *ngFor="let level of levels">{{ level }}</option>
        </select>
      </div>
    </div>

    <legend>معلومات عن الكتب</legend>
    <div *ngIf="books.length > 0">
      <div formGroupName="books" class="form-area">
        <div *ngFor="let book of books.controls; let i = index">
          <div formGroupName="{{ i }}">
            <input
              type="text"
              formControlName="name"
              name="name"
              class="col-md-6 justify-content-center"
            />
            <div formGroupName="category">
              <select formControlName="name" name="name">
                <option
                  *ngFor="let subject of subjects; let i = index"
                  [ngValue]="subject"
                >
                  {{ subjectsTraduction[i] }}
                </option>
              </select>
              <select formControlName="type" name="type">
                <option selected disabled>-- الرجاء تحديد خيار --</option>
                <option>كتاب التمارين</option>
                <option>كتاب القراءة</option>
                <option>كتاب موازي</option>
              </select>
              <select formControlName="level" name="level">
                <option *ngFor="let level of levels" [ngValue]="level">
                  {{ litteralLevel[level - 1] }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="add-button row">
          <div class="com-md-12">
            <button value="add book" (click)="addBookToFormGroup()">
              أضف كتابا
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-info">إرسال</button>
    </div>
  </form>
</div>
