input,
select {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 340px;
  border-color: azure;
  margin: 16px;
}
button {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  position: relative;
  justify-content: end;
  height: 40px;
  width: 340px;
  border-color: azure;
  margin: 16px;
}
select:focus {
  color: black;
}

select:has(option:selected) {
  color: white;
}

.form-area {
  display: flex;
  display: block;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 16px 100px 16px 100px;
  padding: 16px 0 16px 0;
  justify-content: center;
  line-height: 0;
  text-align: left;
}

legend {
  color: #ffffff;
  margin-left: 116px;
}
fieldset {
  border: 10px solid transparent;
  box-sizing: border-box;
  grid-area: 1 / 1;
  margin-left: 30px;
  width: inherit;
}
.form-area > div {
  display: flex;
  flex-direction: row;
}
.form-area label {
  color: azure;
  display: flex;
  font-size: 27px;
  justify-content: center;
  align-items: center;
}
.form-area input {
  text-align: center;
}
