<div class="info-bar row d-flex flex-row">
  <div class="social-links col-md-3 align-self-center">
    <i class="fa-brands fa-facebook-f" style="width: 43.19px"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>
  <div class="logo col-md-6">
    <img src="assets/images/Logo3.png" alt="" />
  </div>
  <div class="search-input col-md-3 align-self-center w-25">
    <input
      #myInput
      type="text"
      placeholder="ابحث هنا"
      class="au-input au-input-xl"
    />
    <i class="fas fa-search"></i>
  </div>
</div>
