<form [formGroup]="borrowerFormGroup">
  <div class="row d-flex flex-row-reverse">
    <label class="col-md-6"> الرجاء اختيار الولاية</label>
    <select formControlName="city" name="city" class="col-md-6">
      <option *ngFor="let city of cities" [ngValue]="city">
        {{ city.name }}
      </option>
    </select>
  </div>
  <div class="row d-flex flex-row-reverse">
    <label class="col-md-6"> الرجاء اختيار المدينة</label>
    <select formControlName="city" name="city" class="col-md-6">
      <option *ngFor="let city of cities" [ngValue]="city">
        {{ city.name }}
      </option>
    </select>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let book of books" class="col-md-4 mx-auto my-4">
        <app-book-card [book]="book"></app-book-card>
      </div>
    </div>
  </div>
</form>
